@import url("https://fonts.googleapis.com/css?family=Barlow:400&display=swap");

html {
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

body {
    color: #333;
    background-color: #eee;
    overflow: hidden;
}

.none {
    display: none;
}

.notouch {
    user-select: none;
    pointer-events: none;
}

.block {
    display: block;
}

#loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(59, 66, 82);
    z-index: 1003;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 200ms ease-out;
    user-select: none;
}

.loaded #loading {
    opacity: 0;
}

.loader {
    position: absolute;
    top: 45%;
    left: 45%;
    transition: left 150ms ease-out, top 150ms ease-out, transform 150ms ease-out;
}

.loaded .loader {
    top: 1%;
    left: 1%;
    transform: scale(.3)
}


.loaded #loading {
    opacity: 0;
}

.content {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.loaded .content {
    opacity: 1;
}

.navbar {
    height: 58px;
}

.divider {
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: transparent;
    pointer-events: none;
    user-select: none;
    vertical-align: middle;
    overflow: hidden;
}

.container-fluid {
    position: relative;
}

.oop {
    padding-top: 58px;
    height: 98vh;
}

.backToTop {
    margin-bottom: 50px;
}

.oop-2 {
    border-radius: 6px;
}

.oop-2 ul {
    text-align: start;
}

.oop .oop-2 {
    /* height: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.oop-divider {
    fill: rgb(248, 249, 251);
    transition: fill 400ms ease-in-out 0s;
}

.iie-2 {
    height: calc(100vh - 15vh);
}

.iie .container > div >  div {
    font-weight: normal
}

.iie .container span {
    font-weight: bold;
}

.end {
    background-color: rgb(248, 249, 251);
    height: 6vh;
}

.footer3 {
    fill: rgb(248, 249, 251);
}

.haha {
    color: teal;
}
